.search {
  background-color: #147ABC;
  font-size: 14px;

  ::ng-deep .mat-form-field {
    width: 250px;
    margin-top: 20px;
  }
}
.users {
  width: 1000px;
  margin: auto;
}

.sort-drop-down {
  height: 40px;
  width: 270px;
  background-color: white;
  margin-top: 16px;
  margin-bottom: 10px
}

.input-section {
  width: 270px;
  background-color: white;
  margin-top: 16px;
  height: 40px;
}

::ng-deep .mat-select-trigger {
  padding: 12px;
}

.search-input {
  padding-left: 15px;
}

.main-container {
  background-color: #F6F6F6;
}

.rotate {
  transform: rotate(180deg);
}
